In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cockburn Town,TC,2022-08-21 16:57:39,21.4612,-71.1419,87.76,62,40,13.80
1,1,Gat,IL,2022-08-21 16:57:40,31.6100,34.7642,85.82,39,0,4.65
2,2,Parvatsar,IN,2022-08-21 16:57:40,26.8833,74.7667,79.66,77,92,5.26
3,3,Punta Arenas,CL,2022-08-21 16:57:41,-53.1500,-70.9167,48.31,53,0,11.50
4,4,Saint George,US,2022-08-21 16:57:41,37.1041,-113.5841,83.43,48,7,3.00

In [9]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

SyntaxError: invalid syntax (3185543972.py, line 4)